<div class="container-fluid">
  <div class="row">
    <div class="input-field col s12">
      <input type="text" id="nome" [(ngModel)]="cliente.nome" [value] = " " (keypress)="0">{{cliente.nome}}
      <label for="nome">NOME</label>
    </div>
    <div class="input-field col s12">
      <input type="text" id="email" [(ngModel)]="cliente.email">
      <label for="email">EMAIL</label>
    </div>
    <div class="input-field col s6">
      <p>Sexo</p>
      <p>
        <input type="radio" [(ngModel)]="cliente.sexo" [value]="'M'"/>
        <label >MASCULINO</label>
        &nbsp;
        <input [(ngModel)]="cliente.sexo" type="radio"  [value]="'F'"/>
        <label >FEMININO</label>
      </p>

    </div>
    <div class="input-field col s6">
      <input materialize="pickadate" [materializeParams]="[{format: 'dd/mm/yyyy'}]" type="text" id="datNas" [(ngModel)]="cliente.dataNascimento">
      <label for="datNas">DATA DE NASCIMENTO</label>
    </div>
    <div class="input-field col s12">
      <button class="waves-effect waves-light btn"><i class="material-icons left">save</i>salvar</button>
    </div>
  </div>
</div>
