<ul class="collapsible" data-collapsible="accordion" materialize="collapsible">
  <li>
    <div class="collapsible-header active"><i class="material-icons">storage</i>Lista de clientes</div>

    <div class="collapsible-body">
      <div class="list-container">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
        </mat-form-field>
      </div>
      <div class="list-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort>
          <ng-container  matColumnDef="nome" >
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Nome{{filtroNome}}</mat-header-cell>
            <mat-cell *matCellDef="let cliente">{{cliente.nome}}</mat-cell>
          </ng-container>
          <ng-container  matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let cliente">{{cliente.email}}</mat-cell>
          </ng-container>
          <ng-container  matColumnDef="dataNascimento">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Data de nascimento</mat-header-cell>
            <mat-cell *matCellDef="let cliente">{{cliente.dataNascimento}}</mat-cell>
          </ng-container>
          <ng-container  matColumnDef="sexo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Sexo</mat-header-cell>
            <mat-cell *matCellDef="let cliente">{{cliente.sexo}}</mat-cell>
          </ng-container>
          <ng-container  matColumnDef="opcoes">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Opções</mat-header-cell>
            <mat-cell *matCellDef="let cliente; let i = index">
              <a (click)="editCliente(cliente)" class="btn-edit" matTooltip="EDITAR CLIENTE">
                <i class="tiny material-icons">create</i>
              </a>
              <a (click)="removerCliente(i)" class="btn-edit" matTooltip="REMOVER CLIENTE">
                <i class="tiny material-icons">delete</i>
              </a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-paginator #paginator
                       [pageSize]="100"
                       [pageSizeOptions]="[2,5,10,15]"
                       [showFirstLastButtons]="true">

        </mat-paginator>
      </div>
    </div>
  </li>
</ul>
