.open-modal{
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.menu-lateral{
  display: inline-block;
  width: 300px;
  height: 100vh;
  a{
    text-decoration: none;
  }

  .bold{
    font-weight: bold;
  }
  .logo {
    padding: 10px 0;
  }
}
.conteudo{
  display: inline-block;
  width: calc(100% - 304px);
  vertical-align: top;
  .section {
    background: #6698c7;
    h1,h2 {
      color: white;
    }
  }
  .main {
    padding-top: 5vh;
  }
}
