<div class="page">
  <main>
    <aside class="menu-lateral">
      <ul class="menu-list side-nav fixed">
        <li class="logo">
          <figure>
            <a [routerLink]="['/']">
              <img src="/assets/imgs/Logo.png" alt="Logo nagro">
            </a>
          </figure>
        </li>
        <li class="divider"></li>
        <li class="bold">
          <a [routerLink]="['/']" class="waves-effect waves-teal" href="javascript:void(0)">Listar Clientes</a>
        </li>
        <li>
          <a href="javascript:void(0)" [routerLink]="['/cadastro']" class="waves-effect waves-teal">Cadastrar Cliente</a>
        </li>
      </ul>
    </aside>
    <section class="conteudo">
      <div class="section z-depth-3">
        <h1>Listagem de clientes</h1>
      </div>
      <div class="main container">
        <div class="row">
          <div class="col s12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </section>
  </main>
  <button id="scale-demo" data-target="modalCadastro" class="tooltipped open-modal btn-floating btn-large scale-transition modal-trigger" data-position="left" data-tooltip="CADASTRAR CLIENTE">
    <i class="material-icons">add</i>
  </button>
  <div id="modalCadastro" class="modal" materialize="modal"  [materializeActions]="modalActions">
    <div class="modal-content">
      <h5>CADASTRO DE CLIENTE</h5>
      <app-cadastro></app-cadastro>
    </div>
    <!--<div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>-->
  </div>
</div>
